@model twa7edWebsite.Models.ContactU

<div class="contact-form">
    <div class="col span_1_of_3">
        <h2>تفاصيل الرسالة</h2>
        <div>
            <span> <strong> @Html.LabelFor(model => model.name)</strong></span>            
            <span>
                @Html.DisplayFor(model => model.name)
                @Html.ValidationMessageFor(model => model.name)
            </span>
        </div>
        <div>
            <span> <strong> @Html.LabelFor(model => model.email)</strong></span>
            <span>
                @Html.DisplayFor(model => model.email)
            </span>
        </div>
        <div>
            <span> <strong> @Html.LabelFor(model => model.mobile)</strong></span>
            <span>
                @Html.DisplayFor(model => model.mobile)
            </span>
        </div>
        <div>
            <span> <strong> @Html.LabelFor(model => model.subject)</strong></span>
            <span>
                @Html.DisplayFor(model => model.subject)
            </span>
        </div>
        <div>
            <span> <strong> @Html.LabelFor(model => model.massage)</strong></span>
            <span>
                @Model.massage
            </span>
        </div>
    </div>
</div>